BOT_TOKEN=123456:your-token
RAPID_TOKENS=token1,token2
ADMIN_ID=291182090
DOWNLOAD_DIR=./downloads
YT_DLP_PATH=./bin/yt-dlp
HELP_FILE=./asserts/help.txt
WELCOME_FILE=./asserts/welcome.txt
COMMAND_FILE=./asserts/command.txt
LOG_FILE=./logs/bot.log
